h1 { positon:fixed;
     top:0px;
     left:50%;

}

div {
    width: 300px;
    border: 15px #252525;


  }

li {
     display:inline;
     positon: sticky;
     left: 50%;

}

*  { 
text-align:center;

}